<a href="https://colab.research.google.com/github/GadAsa1/Nautica-Home-Project/blob/main/Nautica_Home_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nautica Home Data Analysis

# Loading the libaries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
! git clone https://github.com/GadAsa1/Nautica-Home-Project.git # Connect to Github

Cloning into 'Nautica-Home-Project'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 9 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), 749.34 KiB | 1012.00 KiB/s, done.

# First Table - 'Items'

## 1. Loading the Table

In [ ]:
df_items = pd.read_excel("/content/Nautica-Home-Project/Nautica Home - Items Catalog.xlsx")

In [ ]:
print(f"This Dataframe has {df_items.shape[0]} rows over {df_items.shape[1]} columns")

This Dataframe has 1579 rows over 104 columns

In [ ]:
df_items.head()

,"××§""×˜",×‘×¨×§×•×“,×ª××•×¨,×ª××•×¨ ×œ×•×¢×–×™,×¡×˜×˜×•×¡,×˜×™×¤×•×¡,×× ×•×”×œ ××œ××™?,×©×™× ×•×™ ×ª××•×¨?,×× ×•×”×œ ××¡. ×¡×™×“×•×¨×™×™×?,×¨×›×© ××™× ×˜×¨× ×˜?,...,"××§""×˜ ×—×¡×•×™?",×“×¨×•×¤×©×™×¤×™× ×’,×—×™×•×‘ × ×œ×•×•×” ×œ×”×©×›×¨×•×ª,××™×“×•×ª ×˜×§×¡×˜×™×œ,××˜×‘×¢ ×§× ×™×™×” 2,××—×™×¨ ×§× ×™×™×” 2,×©× ×¡×¤×§ ××•×¢×“×£ 2,×¡×¤×§ ××•×¢×“×£ 2,"××˜×‘×¢ ×©×œ ×¡×”""×› ×.×§× ×™×™×”","×¡×”""×› ××—×™×¨ ×§× ×™×™×”"
0,231200200,231200200,"×¦×œ×—×ª ×¢×™×§×¨×™×ª 27 ×¡""×",10.5' Shallow Plate - DINNER PLATE,×¤×¢×™×œ,R,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
1,231200200-02-27,7297619005943,"×¦×œ×—×ª ×¢×™×§×¨×™×ª 27 ×¡""×",10.5' Shallow Plate - DINNER PLATE,×¤×¢×™×œ,R,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
2,231200200-19-27,7297619005936,"×¦×œ×—×ª ×¢×™×§×¨×™×ª 27 ×¡""×",10.5' Shallow Plate - DINNER PLATE,×¤×¢×™×œ,R,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
3,231200201,231200201,"×¦×œ×—×ª ×¨××©×•× ×” 23 ×¡""×",8' Shallow Plate - SALAD PLATE,×¤×¢×™×œ,R,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
4,231200201-02-20,7297619005967,"×¦×œ×—×ª ×¨××©×•× ×” 23 ×¡""×",8' Shallow Plate - SALAD PLATE,×¤×¢×™×œ,R,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0

## 2. Cleanup the Table

### 2.1 Empty columns and rows

In [ ]:
df_items.isnull().sum()

××§"×˜                       0
×‘×¨×§×•×“                     35
×ª××•×¨                       0
×ª××•×¨ ×œ×•×¢×–×™               262
×¡×˜×˜×•×¡                      0
                        ...
××—×™×¨ ×§× ×™×™×” 2               0
×©× ×¡×¤×§ ××•×¢×“×£ 2          1579
×¡×¤×§ ××•×¢×“×£ 2             1579
××˜×‘×¢ ×©×œ ×¡×”"×› ×.×§× ×™×™×”    1579
×¡×”"×› ××—×™×¨ ×§× ×™×™×”            0
Length: 104, dtype: int64

Note : The dataset contain NaN values so cleanup in this area is requierd.â˜

In [ ]:
#pd.options.display.max_rows = 999

In [ ]:
df_items = df_items.dropna(axis = 1, how = 'all') # drop an axis completely empty

In [ ]:
df_items =df_items.dropna(axis = 0, how = 'all')  # drop an row completely empty

 Cleaning the empty columns and rows â˜

In [ ]:
df_items.shape

(1579, 73)

This Dataframe has now 1579 rows over 73 columns, so we deleted 31 columns and 0 rows.

### 2.2 Columns with single value

In [ ]:
single_value_col = df_items.columns[df_items.nunique() <=1]
single_value_col

Index(['×¡×˜×˜×•×¡', '×˜×™×¤×•×¡', '×× ×•×”×œ ××œ××™?', '×©×™× ×•×™ ×ª××•×¨?', '×™×—' ×§× ×™×”/××›×™×¨×”',
       '×™×—' ××¤×¢×œ', '×©×¢×•×¨ ×”××¨×”', '×¤×¨×™×˜ ××¨×›×–?', '××˜×‘×¢ ×”××—×™×¨×•×Ÿ', '××—×™×¨ ×¡×™×˜×•× ××•×ª',
       '×ª.  ×ª××—×™×¨', '××˜×‘×¢ ××—×™×¨ ××™× ×™××•×', '××—×™×¨ ××™× ×™××•×', 'FOB',
       '×¡×›×•× ××™×¨×‘×™ ×œ×ª×™×§×•×Ÿ', '×©× ×”', '××“×™× ×™×•×ª ××—×™×¨×™×', '×××¤×™×™×Ÿ ×¡×•×¤×¨ ×¤××¨×',
       '×¡×“×¨ ×œ×™×§×•×˜', '×—×•×“×©×™ DC ××•×ª×¨×™×', '×—×•×“×©×™ DC ×œ××—×¡×•×Ÿ', '××™× ×™××•× ×™××™ ×ª×•×§×£',
       '××—×™×¨ ×§× ×™×™×” 2'],
      dtype='object')

In [ ]:
df_items = df_items.drop(single_value_col, axis = 1)  # Cleaning the columns with a simgle value

In [ ]:
df_items.shape

(1579, 50)

This Dataframe has now 1579 rows over 50 columns, so we deleted another 23 columns.

### 2.3 Duplicate Rows

In [ ]:
duplicate_rows = df_items[df_items.duplicated()].shape[0]
print(f"This Dataframe has {duplicate_rows} duplicate rows ")

This Dataframe has 0 duplicate rows

### 2.4 Drop unnecessary columns and rows

In [ ]:
filter = df_items.isnull().sum().sort_values(ascending=False)
filter[ filter > 0 ]

×©× ×¡×“×¨×”               1509
×¤×¨××˜×¨ 16 ×œ××•×¦×¨        1509
×©× ×¡×¨×’×œ ××™×“×•×ª         1491
×¡×¨×’×œ ××™×“×•×ª            1491
××™×“×•×ª ×˜×§×¡×˜×™×œ          1424
×§× ×™×™×Ÿ                 1419
×¤×¨××˜×¨ 9 ×œ××•×¦×¨         1324
×”×¨×›×‘ ×‘×“/×—×•××¨          1246
GSM                   1227
×ª×ª ××©×¤×—×”              1152
×§×˜×’×•×¨×™×™×ª ×¢×œ           1140
×ª××•×¨ ×—×“×¨              1134
×¦×‘×¢ ×˜×§×¡×˜×™×œ            1123
×¡×¤×§ ××•×¢×“×£             1081
×©× ×¡×¤×§                1081
×¢×•× ×”                  1077
××˜×‘×¢                  1074
×ª××¨×™×š ××—×™×¨ ××—×¨×•×Ÿ      1074
××§×•×¨ ××—×™×¨ ××—×¨×•×Ÿ       1074
×¤×¨××˜×¨â€â€â€ â€4            995
×›××•×ª ×‘××¨×™×–×”            954
×“×’×                    931
×ª××¨×™×š ×™×¦×™××” ××—×¨×•×Ÿ      905
×ª××¨×™×š ×›× ×™×¡×” ××—×¨×•×Ÿ      710
×ª××•× ×”                  695
×ª××•×¨ ×œ×•×¢×–×™             262
×ª××•×¨ ×¤×¨×™×˜ ××¨×›×–         221
×¤×¨×™×˜ ××¨×›×–              221
××˜×‘×¢ ×§× ×™×”              198
×¦×‘×¢×™×                  186
××™×“×•×ª                  181
×‘×¨×§×•×“                   35
×ª× ×•×¢×” ××—×¨×•× ×” ×‘××¤×¢×œ      11
dtype: int64

In [ ]:
filter_1 = (df_items.isnull().sum()/df_items.shape[0]).sort_values(ascending=False)
filter_1[ filter_1 > 0  ] # percentage of NaNs value

×©× ×¡×“×¨×”               0.955668
×¤×¨××˜×¨ 16 ×œ××•×¦×¨        0.955668
×©× ×¡×¨×’×œ ××™×“×•×ª         0.944269
×¡×¨×’×œ ××™×“×•×ª            0.944269
××™×“×•×ª ×˜×§×¡×˜×™×œ          0.901837
×§× ×™×™×Ÿ                 0.898670
×¤×¨××˜×¨ 9 ×œ××•×¦×¨         0.838505
×”×¨×›×‘ ×‘×“/×—×•××¨          0.789107
GSM                   0.777074
×ª×ª ××©×¤×—×”              0.729576
×§×˜×’×•×¨×™×™×ª ×¢×œ           0.721976
×ª××•×¨ ×—×“×¨              0.718176
×¦×‘×¢ ×˜×§×¡×˜×™×œ            0.711210
×¡×¤×§ ××•×¢×“×£             0.684611
×©× ×¡×¤×§                0.684611
×¢×•× ×”                  0.682077
××˜×‘×¢                  0.680177
×ª××¨×™×š ××—×™×¨ ××—×¨×•×Ÿ      0.680177
××§×•×¨ ××—×™×¨ ××—×¨×•×Ÿ       0.680177
×¤×¨××˜×¨â€â€â€ â€4           0.630146
×›××•×ª ×‘××¨×™×–×”           0.604180
×“×’×                   0.589614
×ª××¨×™×š ×™×¦×™××” ××—×¨×•×Ÿ     0.573148
×ª××¨×™×š ×›× ×™×¡×” ××—×¨×•×Ÿ     0.449652
×ª××•× ×”                 0.440152
×ª××•×¨ ×œ×•×¢×–×™            0.165928
×ª××•×¨ ×¤×¨×™×˜ ××¨×›×–        0.139962
×¤×¨×™×˜ ××¨×›×–             0.139962
××˜×‘×¢ ×§× ×™×”             0.125396
×¦×‘×¢×™×                 0.117796
××™×“×•×ª                 0.114630
×‘×¨×§×•×“                 0.022166
×ª× ×•×¢×” ××—×¨×•× ×” ×‘××¤×¢×œ    0.006966
dtype: float64

In order to continue the process of cleaning the data, we met with the CTO and presented to him:


*   Columns with missing values.
*   Columns thaht had similar meaning.
*   Columns that seemed irrelevant to the purpose of the project.

After this meeting we decided to keep the following columns   ğŸ‘‡

In [ ]:
df_items = pd.read_excel("/content/Nautica-Home-Project/Nautica Home - Items Catalog Clean.xlsx")
df_items

,Catalog Number,Hebrew Description,English Description,Added Date,Family Item ID,Family Item Name,Central Item?,Central Item ID,Supplier ID,Supplier Name,...,Cost Import USD,Cost Production USD,Other Cost Production,Currency Other Cost Production,Colour ID,Colour,Size,Type Description,Quantity in Box,Composition
0,231200200,"×¦×œ×—×ª ×¢×™×§×¨×™×ª 27 ×¡""×",10.5' Shallow Plate - DINNER PLATE,2022-10-12,200.0,×¦×œ×—×•×ª,Y,NaN,200257.0,"Chaozhou Zacasa Ceramics Co.,Ltd.",...,0.0,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,231200200-02-27,"×¦×œ×—×ª ×¢×™×§×¨×™×ª 27 ×¡""×",10.5' Shallow Plate - DINNER PLATE,2022-10-12,200.0,×¦×œ×—×•×ª,NaN,231200200,200257.0,"Chaozhou Zacasa Ceramics Co.,Ltd.",...,0.0,0.00,2.84,USD,2,White,27,NaN,6.0,PORCELAIN
2,231200200-19-27,"×¦×œ×—×ª ×¢×™×§×¨×™×ª 27 ×¡""×",10.5' Shallow Plate - DINNER PLATE,2022-10-12,200,×¦×œ×—×•×ª,NaN,231200200,200257.0,"Chaozhou Zacasa Ceramics Co.,Ltd.",...,0.0,0.00,2.84,USD,19,L. GRAY,27,NaN,6.0,PORCELAIN
3,231200201,"×¦×œ×—×ª ×¨××©×•× ×” 23 ×¡""×",8' Shallow Plate - SALAD PLATE,2022-10-12,200,×¦×œ×—×•×ª,Y,NaN,200257.0,"Chaozhou Zacasa Ceramics Co.,Ltd.",...,0.0,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,231200201-02-20,"×¦×œ×—×ª ×¨××©×•× ×” 23 ×¡""×",8' Shallow Plate - SALAD PLATE,2022-10-12,200,×¦×œ×—×•×ª,NaN,231200201,200257.0,"Chaozhou Zacasa Ceramics Co.,Ltd.",...,0.0,0.00,1.69,USD,2,White,23,NaN,6.0,PORCELAIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574,NLW8050,Mix&Match Large Logo men Shirt,Mix&Match Large Logo men Shirt,2021-10-26,7000,Loungewear,Y,NaN,NaN,NaN,...,0.0,6.17,6.20,USD,NaN,NaN,NaN,REFIBRA,28.0,47% Cotton 3
1575,NLW8060,Mix&Match men Shorts,Mix&Match men Shorts,2021-10-26,7000,Loungewear,Y,NaN,NaN,NaN,...,0.0,7.59,7.63,USD,NaN,NaN,NaN,REFIBRA,100.0,47% Cotton 3
1576,NLW8070,Mix&Match men Pants,Mix&Match men Pants,2021-10-26,7000,Loungewear,Y,NaN,NaN,NaN,...,0.0,9.16,9.20,USD,NaN,NaN,NaN,REFIBRA,30.0,47% Cotton 3
1577,NLW8080,NAUTICA HOME men PANTS,NAUTICA HOME men PANTS,2021-11-09,7000,Loungewear,Y,NaN,NaN,NaN,...,0.0,66.17,8.88,USD,NaN,NaN,NaN,REALASTING SOFTNESS,28.0,94% Modal 6
1578,NLW8090,Sunny day shirt&shorts men set,Sunny day shirt&shorts men set,2021-11-09,7000,Loungewear,Y,NaN,NaN,NaN,...,0.0,9.46,9.51,USD,NaN,NaN,NaN,REALASTING COTTON,28.0,100% Cotton

In [ ]:
filter

Central Item?                     1402
Composition                       1246
Colour                            1123
Supplier Name                     1081
Supplier ID                       1081
Currency Cost Price               1074
Type Description                   995
Quantity in Box                    954
English Description                262
Central Item ID                    221
Currency Other Cost Production     198
Colour ID                          186
Size                               181
Currency Sales                     141
Cost Import USD                      0
Other Cost Production                0
Cost Production USD                  0
Catalog Number                       0
Cost Production SH                   0
Cost Import SH                       0
Hebrew Description                   0
Sales Price With TVA                 0
Sales Price No TVA                   0
Family Item Name                     0
Family Item ID                       0
Added Date                           0
Cost Price                           0
dtype: int64

In [ ]:
#df_items['Central Item?'!= 'Y'].isnull().sum().sort_values(ascending=False)
df_items[df_items['Central Item?'].isin(['Y'])].isnull().sum().sort_values(ascending=False)

Currency Cost Price               177
Colour                            176
Central Item ID                   176
Colour ID                         175
Size                              174
Quantity in Box                   161
Composition                       160
Type Description                  143
Currency Other Cost Production    132
Supplier ID                       124
Supplier Name                     124
English Description               104
Currency Sales                     71
Cost Import USD                     0
Other Cost Production               0
Cost Production USD                 0
Catalog Number                      0
Cost Production SH                  0
Cost Import SH                      0
Hebrew Description                  0
Sales Price With TVA                0
Sales Price No TVA                  0
Central Item?                       0
Family Item Name                    0
Family Item ID                      0
Added Date                          0
Cost Price                          0
dtype: int64

In [ ]:
df_items[~df_items['Central Item?'].isin(['Y'])].isnull().sum().sort_values(ascending=False)

Central Item?                     1402
Composition                       1086
Supplier Name                      957
Supplier ID                        957
Colour                             947
Currency Cost Price                897
Type Description                   852
Quantity in Box                    793
English Description                158
Currency Sales                      70
Currency Other Cost Production      66
Central Item ID                     45
Colour ID                           11
Size                                 7
Cost Import USD                      0
Other Cost Production                0
Cost Production USD                  0
Catalog Number                       0
Cost Production SH                   0
Cost Import SH                       0
Hebrew Description                   0
Sales Price With TVA                 0
Sales Price No TVA                   0
Family Item Name                     0
Family Item ID                       0
Added Date                           0
Cost Price                           0
dtype: int64

This Dataframe has now 1579 rows over 27 columns

# Second Table - 'Orders'

## 1. Loading the Table

In [ ]:
df_orders = pd.read_excel("/content/Nautica-Home-Project/Orders.xlsx")

In [ ]:
print(f"This Dataframe has {df_orders.shape[0]} rows over {df_orders.shape[1]} columns")

This Dataframe has 7412 rows over 6 columns

In [ ]:
df_orders.head()

  Order_Date  Customer_ID           City    Order_ID Catalog_Number  Quantity
0 2022-03-28       100073  ×ª×œ ××‘×™×‘ - ×™×¤×•  SO22000056            100         1
1 2022-03-28       100073  ×ª×œ ××‘×™×‘ - ×™×¤×•  SO22000056   NHT3004-9-16         1
2 2022-03-28       100073  ×ª×œ ××‘×™×‘ - ×™×¤×•  SO22000056  NHT3007-15-11         1
3 2022-04-03       100111         ×”×¨×¦×œ×™×”  SO22000099            100         1
4 2022-04-03       100111         ×”×¨×¦×œ×™×”  SO22000099   NHB5080-16-3         1

## 2. Cleanup the Table

### 2.1 Empty columns and rows

In [ ]:
df_orders.isnull().sum()

Order_Date        0
Customer_ID       0
City              3
Order_ID          0
Catalog_Number    0
Quantity          0
dtype: int64

Note : This dataset doesn't contain completely NaN columns or rows.â˜

### 2.2 Columns with single value

In [ ]:
single_value_col = df_orders.columns[df_orders.nunique() <=1]
single_value_col

Index([], dtype='object')

Note : The dataset doesn't contain columns with single value

### 2.3 Duplicate Rows

In [ ]:
duplicate_rows = df_orders[df_orders.duplicated()].shape[0]
print(f"This Dataframe has {duplicate_rows} duplicate rows ")

This Dataframe has 0 duplicate rows

### 2.4 Drop unnecessary columns and rows

In [ ]:
filter = df_orders.isnull().sum().sort_values(ascending=False)
filter[ filter > 0 ]

City    3
dtype: int64

In [ ]:
filter_1 = (df_orders.isnull().sum()/df_orders.shape[0]).sort_values(ascending=False)
filter_1[ filter_1 > 0  ] # percentage of NaNs value

City    0.000405
dtype: float64

In order to continue the process of cleaning the data, we met with the CTO and presented to him:


*   Columns with missing values.
*   Columns with values thaht do not make sense.

After this meeting we decided to :
*   Remove the rows where `Catalog_Number` is equal to `100`.
*   Remove the rows where `Catalog_Number` is equal to `200`.

So we get the following data  ğŸ‘‡

In [ ]:
remove = df_orders['Catalog_Number'].isin([100,200])
df_orders = df_orders[~remove]
df_orders

,Order_Date,Customer_ID,City,Order_ID,Catalog_Number,Quantity
1,2022-03-28,100073,×ª×œ ××‘×™×‘ - ×™×¤×•,SO22000056,NHT3004-9-16,1
2,2022-03-28,100073,×ª×œ ××‘×™×‘ - ×™×¤×•,SO22000056,NHT3007-15-11,1
4,2022-04-03,100111,×”×¨×¦×œ×™×”,SO22000099,NHB5080-16-3,1
5,2022-04-03,100111,×”×¨×¦×œ×™×”,SO22000099,NHB5195-16-25,1
6,2022-04-03,100111,×”×¨×¦×œ×™×”,SO22000099,NHB5340-16-3,1
...,...,...,...,...,...,...
7404,2023-01-24,102184,×”×¨×¦×œ×™×”,SO23000265,NBRK403-10-40,2
7406,2023-01-24,102185,×¨×¢× × ×”,SO23000266,NLW-7070M3,1
7408,2023-01-24,102186,×¤×ª×— ×ª×§×•×•×”,SO23000267,NLW-71002XS6,1
7409,2023-01-24,102186,×¤×ª×— ×ª×§×•×•×”,SO23000267,NLW-71003S6,1
7411,2023-01-24,102187,×¢×™×Ÿ ×”×‘×©×•×¨,SO23000268,NHB5300-16-11,1

In [ ]:
df_orders.shape

(5265, 6)

This Dataframe has now 5265 rows over 6 columns, so we deleted 0 columns and 2147 rows.

In [ ]:
df_orders.isnull().sum()

Order_Date        0
Customer_ID       0
City              2
Order_ID          0
Catalog_Number    0
Quantity          0
dtype: int64